.movies {
    padding: 0 70px 80px;
}

@media screen and (max-width: 800px) {
    .movies {
        padding: 0 30px 80px;
    }
}

@media screen and (max-width: 540px) {

    .movies {
        padding: 0 10px 80px;
    }

}
